<li id="<%= dom_id submission %>">
  <div class="">
    <% if submission.media.attached? %>
    <% if submission.media.video? %>
      <%= video_tag submission.media %>
    <% else %>
      <%= image_tag submission.media, alt: submission.title, class: "" %>
      <% end %>
    <% end %>

    <div class="pl-4">
      <h3 class="mb-1 flex flex-wrap items-center text-xl">
        <%= link_to submission.title, submission, class: "no-undeline"%>
         <% if submission.url? %>
          <span class="pl-2 text-xs font-normal font-mono text-indigo-400 tracking-tighter">
            <%= truncate(submission.url, length: 18) %>
          </span>
        <% end %>

      </h3>
    </div>
  </div>
</li>
