<% content_for :community_label, "w/#{@submission.community.name}" %>

<%= render "communities/header", community: @submission.community %>

<% content_for :primary_content do %>
<div class="flex flex-row justify between">
  <div class="w-10 flex flex-col items-start">
    <%= link_to "#", class: "blovk text-center" do %>
      <%= render_svg "icons/up-vote", styles: "fill-current text-gray-500 w-4 h-4" %>
      <% end %>
      <span class="text-gray-700 text-center block text-sm -ml[-5px]">123</span>
      <%= link_to "#", class: "block text-center" do %>
        <%= render_svg "icons/down-vote", styles: "fill-current text-gray-500 w-4 h-4" %>
      <% end %>

    </div>
    <div>
        <p class="text-sm text-gray-600 mb-3">Posted by <%= link_to @submission.user.username %> <%= time_ago_in_words(@submission.created_at) + " ago" %> </p>
        <h1 class="font-bold text-3xl mb-6"><%= @submission.title %></h1>
        <div class="prose prose-lg prose-indigo">
          <%= simple_format @submission.body %>
      </div>
  </div>
</div>
<% end %>

<% content_for :secondary_content do %>
<%= render "communities/sidebar", community: @submission.community %>


<% end %>

<%= render "basic_layout" %>
