<li id="<%= dom_id(community) %>" class="py-3">
  <p class="text-sm text-gray-600">w/<%= community.name %></p>
  <%= link_to community, class: "hover:text-indigo-600" do %>
    <h3 class="font-semibold"><%= community.title %></h3>
  <% end %>
  <div class="prose prose-indigo"><%= truncate(community.description, length: 140) %></div>
</li>
